/*#FF8C62  #FFBB62-influencer  #029C56-green  #E34D4D-red  
#FFBB62-fans #202020 -black-inf  #272727-inf-mob  #121212-black-submit #029F58-bg-home;*/
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* li{
    list-style: none;
}

a {
    text-decoration: none;
}

.nav {
    overflow: hidden;
    background-color: #029F58;
}

.nav a {
    position: relative;
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.logo {
    float: left;
    position: absolute;
    margin-left: 15px;
}

.logo img {
    max-width: 100%;
    width: 80%;
    margin-top: 5px;
}

.right {
    margin-top: 10px;
    font-size: 20px;
}

.nav .icon {
    display: none;
    color: white;
}  */