@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

html {
    font-size: 16px;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: #fff;
    font-family: 'DM Sans', sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

section {
    width: 100%;
}

.container-1 {
    display: block;
    width: 100%;
    height: auto;
    background-color: #029C56;
    color: #fff;
    margin-bottom: 0;
}

.wrapper {
    display: flex;
    width: 95%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    padding: 1.25rem;
}

.logo-image img{
    width: 80%;
    height: auto;
}

.navigate a{
    color: #fff;
    padding: 0 1rem;
    text-align: center;
    font-size: 1.125rem;
}

.theme {
    position: relative;
    display: block;
    width: 70%;
    margin: auto;
    text-align: center;
}

.theme h1 {
    font-size: 4.5rem;
    line-height: 1.1;
    font-weight: 600;
    margin-top: 3.125rem;
    margin-bottom: 1.0rem;
    text-align: center;
}

.theme p {
    font-size: 0.85rem;
    color: #FFFFFF;
    opacity: 0.6;
    text-align: center;
    margin-bottom: 3.00rem;
}

.store {
    position: relative;
    width: 40%;
    margin: auto;
    display: inline-block;
    align-items: center;
    justify-content: space-evenly;
}

.store img {
    width: 40%;
    height: auto;
    margin-bottom: 1.25rem;
}

.store .google-store {
    margin-right: 1.875rem;
}

.phone-image {
    display: block;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.phone-image-items {
    display: inline-block;
    position: relative;
    width: 100%;
    margin: auto;
}

.phone-image-items img {
    position: relative;
    max-width: 100%;
    height: auto;
    margin: auto;
    top: 4px;
    right: 30px;
}

.phone-image-items img:nth-child(1) {
    position: relative;
    width: 29.5%;
    left: 20.1rem;
}

.phone-image-items img:nth-child(2) {
    position: relative;
    width: 40%;
    z-index: 10;
}

.phone-image-items img:nth-child(3) {
    position: relative;
    width: 29.5%;
    left: -19.1rem;
}

.container-2 {
    width: 100%;
    height: auto;
    text-align: justify;
    display: block;
}

.first-box {
    display: block;
    width: 100%;
    background-image: url("img/bg1.png"), url("img/bg2.png");
    background-repeat: no-repeat, no-repeat;
    background-position: left top, right top;
    background-size: 10%, 33%;
    background-color: #fdf8f8;
    height: auto;
    padding: 100px 70px;
    line-height: 1.3;
}

.first-box h2 {
    color: #007640;
    font-weight: 500;
    font-size: 45px;
    margin-top: -30px;
    margin-bottom: 10px;
}

.first-box p {
    text-align: justify;
    color: #000000;
    opacity: 0.6;
    padding-bottom: 50px;
}

.second-box {
    background-color: #fff;
    width: 100%;
    height: auto;
    text-align: justify;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.fans-connect {
    display: block;
    width: 40%;
    height: auto;
    padding: 100px 70px;
    line-height: 1.3;
}

.fans-btn {
    background-color: #FFBB62;
    color: #000000;
    border: none;
    align-items: center;
    justify-content: center;
    padding: 5px 25px;
    font-size: 16px;
    font-weight: 550;
    text-transform: capitalize;
    cursor: pointer;
    border-radius: 15px;
    margin-bottom: 30px;
}

.fans-connect h2 {
    color: #121212;
    font-size: 45px;
    text-align: justify;
    font-weight: 900;
    line-height: 1.0;
    margin-bottom: 20px;
}

.fans-connect p {
    color: #121212;
    opacity: 0.6;
    text-align: justify;
    margin-bottom: 10px;
}

.fans-image {
    display: block;
    width: 60%;
}

.fans-image img {
    width: 40%;
    height: auto;
    padding-top: 70px;
    margin-left: 40%;
}

.fans-chat {
    position: relative;
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
    text-align: justify;
}

.fan-reply {
    display: block;
    width: 50%;
    background-color: #029C56;
    padding: 150px 0px 50px 70px;
    color: #fdf8f8;
}

.fan-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fan-header .chat-icon {
    width: 35%;
    margin-top: -30px;
}

.chat-icon img {
    width: 25%;
}

.fan-reply h1 {
    font-size: 59px;
    line-height: 1.0;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 25px;
}

.fan-reply p {
    text-align: justify;
    opacity: 0.7;
    line-height: 1.3;
}

.fan-chatroom {
    position: inherit;
    display: block;
    width: 50%;
    line-height: 1.5;
    padding: 0 70px;
    background: #e6e6e68c;
}

.fan-chatroom div:nth-child(1) {
    margin-bottom: 30px;
    max-width: fit-content;
}

.fan-chatroom div:nth-child(2) {
    float: right;
    margin-bottom: 15px;
}

.fan-chatroom div:nth-child(3) {
    margin-bottom: 15px;
}

.fan-chatroom div:nth-child(4) {
    margin-bottom: 35px;
}

.fan-chatroom div:nth-child(5) {
    position: relative;
    top: 7px;
}

.container-3 {
    display: block;
    width: 100%;
    background-color: white;
    height: auto;
}

.influencer-revenue {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.settlement-image {
    width: 50%;
    display: block;
    padding-top: 50px;
    padding-left: 70px;
}

.settlement-image img {
    position: relative;
    max-width: 100%;
    width: 70%;
    top: 5px;
}

.influencer-income {
    position: relative;
    width: 50%;
    text-align: justify;
    align-items: center;
    justify-content: center;
    padding-top: 150px;
    padding-left: 30px;
}

.influencer-btn {
    background-color: #FF8C62;
    width: 110px;
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: center;
    border-radius: 20px;
    font-weight: 600;
    cursor: pointer;
    color: #000000;
    margin-bottom: 30px;
}

.influencer-income h1 {
    margin-bottom: 20px;
    color: #121212;
    font-size: 62px;
    line-height: 1.0;
    font-weight: 550;
}

.influencer-income p {
    color: #000000;
    opacity: 0.6;
    line-height: 1.4;
    text-align: justify;
    font-size: 20px;
}

.influencer-request {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.request-paid {
    position: relative;
    background-color: #2E2E2E;
    display: block;
    color: #fff;
    width: 50%;
}

.profile-box {
    display: block;
    position: relative;
    width: 80%;
    background-color: #272727;
    margin: 0 auto;
    border: 15px solid #2E2E2E;
    filter: drop-shadow(0px 10px 20px rgba(4, 4, 4, 0.2));
    border-radius: 0px 0px 20px 20px;
    margin-bottom: 150px;
}

.client-profile {
    display: block;
    position: relative;
    background: #363636;
    margin-top: 130px;
    border-radius: 15px 15px 8px 8px;
    bottom: 0;
    left: 0;
    right: 0;
}

.profile-cover {
    display: flex;
    position: relative;
    padding: 50px 40px 40px 0px;
    justify-content: space-evenly;
}

.profile-cover img {
    width: 13%;
    height: auto;
}

.profile-cover h5 {
    margin-left: -70px;
    margin-top: 7px;
    font-size: 14px;
    line-height: 1.3;
    font-weight: normal;
}

.profile-cover h5 span {
    opacity: 0.6;
}

.response {
    display: inline-flex;
    align-items: center;
    padding-left: 85px;
    padding-bottom: 70px;
}

.decline-btn {
    background-color: #E34D4D;
    padding: 10px 40px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
}

.accept-btn {
    background: #029C56;
    border-radius: 8px;
    padding: 10px 40px;
    text-align: center;
    cursor: pointer;
    margin-left: 50px;
}

.influencer-filter {
    background-color: #272727;
    display: block;
    width: 50%;
    color: #fff;
}

.influencer-details {
    position: relative;
    display: block;
    width: 70%;
    margin: auto;
    align-items: center;
}

.filter-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 150px;
    margin-bottom: 30px;
}

.filter-icon img {
    width: 80%;
    margin-top: -40px;
}

.influencer-details h2 {
    font-size: 55px;
    line-height: 1.0;
    margin-bottom: 25px;
    font-weight: 500;
}

.influencer-details p {
    opacity: 0.6;
    text-align: justify;
    line-height: 1.3;
}

.container-4 {
    display: block;
    background-color: #ffffff;
    color: #121212;
    width: 100%;
    height: auto;
}

.container-4 header {
    color: #007640;
    font-size: 55px;
    line-height: 0.9;
    margin-left: 100px;
    padding-bottom: 70px;
    padding-top: 80px;
    font-weight: 500;
}

.services {
    position: relative;
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    padding-left: 75px;
}

.box1 {
    display: block;
    position: relative;
    width: 40%;
}

.check {
    display: block;
}

.check label {
    padding-left: 20px;
    font-size: 27px;
    font-weight: 500;
}

.check p {
    padding-left: 37px;
    padding-top: 10px;
    padding-bottom: 60px;
    opacity: 0.6;
    text-align: justify;
}

.box2 {
    position: relative;
    display: block;
    width: 50%;
    height: auto;
}

.box2 img {
    margin-top: -100px;
    max-width: 100%;
    width: 95%;
    margin-left: -150px;
}

.ahead {
    position: relative;
    display: flex;
    width: 70%;
    height: 343px;
    margin: auto;
    background-color: #029C56;
    justify-content: space-evenly;
    color: #fff;
    margin-top: -223px;
    border-radius: 75px;
    margin-bottom: 80px;
}

.hand-image {
    width: 35%;
    padding-top: 50px;
    display: block;
    margin-left: -80px;
}

.ahead-details {
    width: 35%;
    padding-top: 60px;
    display: block;
    margin-left: -200px;
}

.ahead-text h1 {
    font-size: 53px;
    line-height: 0.9;
    margin-bottom: 25px;
}

.ahead-text p {
    opacity: 0.6;
    margin-bottom: 30px;
    font-size: 15px;
}

.ahead-store {
    display: flex;
    justify-content: space-between;
    width: 75%;
}

.ahead-store img {
    max-width: 100%;
    width: 67%;
    align-items: center;
}

.ahead-store .apple {
    margin-left: 30px;
}

hr {
    max-width: 100%;
    width: 90%;
    margin: auto;
    opacity: 0.6;
}

.footer {
    position: relative;
    display: inline-flex;
    width: 100%;
    height: 500px;
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
}

.socials {
    position: relative;
    display: block;
    width: 20%;
    left: 30px;
    align-self: center;
    justify-content: center;
}

.socials .footer-logo {
    margin-bottom: 25px;
}

.socials-img {
    display: inline-flex;
}

.socials-img div:nth-child(1) {
    margin-right: 5px;
}

.socials-img div:nth-child(2) {
    margin-right: 5px;
}

.footer-connect {
    position: relative;
    display: block;
    max-width: fit-content;
    width: 80%;
    left: -100px;
    margin-top: 70px;
}

.footer-header {
    margin-bottom: 60px;
}

.footer-header h5 {
    font-size: 22px;
    margin-bottom: 20px;
}

.footer-header h5 span {
    font-weight: 400;
}

.footer-header input {
    display: inline-flex;
    max-width: 100%;
}

.footer-header input[type="email"] {
    width: 85%;
    height: 35px;
    padding-left: 10px;
    border-radius: 5px 0px 0px 5px;
    border: 2px solid #f0dfdf;
    font-weight: 500;
}

.footer-header input[type="submit"] {
    width: 15%;
    height: 35px;
    margin-left: -5px;
    align-items: center;
    justify-content: center;
    background-color: #121212;
    color: #fff;
    text-transform: uppercase;
    font-weight: 550;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
}

.connect {
    position: relative;
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

.connect h4 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}

.connect a {
    text-decoration: none;
    color: #000000;
    opacity: 0.7;
}

.connect h6 {
    line-height: 3.5;
    font-size: 13px;
}

.connect .help {
    margin-top: -50px;
}

.connect .download {
    margin-top: -100px;
}

.connect .resources {
    margin-top: -105px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    section {
        width: 100%;
        height: auto;
    }

    .wrapper {
        padding: 0.625rem;
    }

    .logo-image img {
        width: 50%;
        padding-top: 0.5rem;
    }

    .navigate a {
        padding: 0 0.1rem;
        font-size: 0.625rem;
    }

    .theme h1 {
        font-size: 3.0rem;
        padding-top: 0;
        margin-bottom: 0.625rem;
        margin-top: 20px;
        line-height: 1.1;
    }

    .theme p {
        font-size: 0.65rem;
        margin-bottom: 25px;
    }

    .store {
        width: 80%;
    }

    .phone-image {
        width: 100%;
    }

    .phone-image-items {
        width: 100%;
        margin: auto;
        left: 25px;
    }

    .phone-image-items img {
        display: inline-block;
        width: 100%;
    }

    .phone-image-items img:nth-child(1) {
        position: relative;
        width: 32.5%;
        left: 5.4rem;
    }

    .phone-image-items img:nth-child(2) {
        position: relative;
        width: 32.5%;
    }

    .phone-image-items img:nth-child(3) {
        position: relative;
        width: 32.5%;
        left: -7.95rem;
    }

    .first-box {
        background-size: 15%, 30%;
        padding-top: 80px;
        padding-bottom: 20px;
        padding-left: 35px;
        padding-right: 35px;
        line-height: 1.0;
    }

    .first-box h2 {
        font-size: 30px;
    }

    .first-box p {
        font-size: 10px;
        line-height: 1.3;
    }

    .second-box {
        width: 100%;
        height: auto;
    }

    .fans-connect {
        position: relative;
        width: 56%;
        top: 50px;
        left: 35px;
        padding: 0;
        margin-bottom: 50px;
    }

    .fans-btn {
        font-size: 13px;
        padding: 5px 20px;
    }

    .fans-connect h2 {
        font-size: 23px;
        margin-top: -12px;
    }

    .fans-connect p {
        font-size: 10px;
        margin-top: -7px;
    }

    .fans-image {
        width: 44%;
    }

    .fans-image img {
        width: 65%;
        margin-top: -5px;
        margin-left: 50px;
    }

    .fan-reply {
        position: relative;
        width: 50%;
        padding-top: 35px;
        padding-bottom: 35px;
        padding-left: 35px;
        padding-right: 15px;
    }

    .fan-header {
        position: relative;
        display: inline-flex;
        top: 10px;
    }

    .fan-header .fans-btn {
        font-size: 10px;
        padding: 5px 15px;
    }

    .fan-header .chat-icon {
        width: 80%;
        margin-top: -25px;
        margin-left: 70px;
    }

    .chat-icon img {
        width: 60%;
    }

    .fan-reply h1 {
        font-size: 22px;
        margin-top: 0px;
        margin-bottom: 10px;
    }

    .fan-reply p {
        font-size: 0.43725rem;
        line-height: 1.5;
        margin-top: 0px;
    }

    .fan-chatroom {
        position: relative;
        width: 50%;
        padding: 0 30px;
        line-height: 1.2;
    }

    .fan-chatroom div:nth-child(1) {
        margin-bottom: 10px;
    }

    .fan-chatroom div:nth-child(2) {
        max-width: 100%;
        width: 75%;
        margin-bottom: 7px;
    } 

    .fan-chatroom div:nth-child(3) {
        max-width: 100%;
        width: 50%;
        margin-bottom: 5px;
    }

    .fan-chatroom div:nth-child(4) {
        max-width: 100%;
        width: 70%;
        margin-bottom: 10px;
    }

    .fan-chatroom div:nth-child(5) {
        position: relative;
        top: 5px;
    }

    .settlement-image {
        width: 45%;
        padding-left: 40px;
        padding-top: 25px;
    }

    .settlement-image img {
        position: relative;
        display: block;
        width: 85%;
        top: 23px;
    }

    .influencer-income {
        position: relative;
        width: 55%;
        padding-top: 60px;
        padding-left: 10px;
    }

    .influencer-btn {
        font-weight: 450;
        font-size: 9px;
        width: 60px;
        margin-bottom: 15px;
    }

    .influencer-income h1 {
        font-size: 27px;
        line-height: 1.09;
        margin-bottom: 8px;
    }

    .influencer-income p {
        font-size: 9px;
        margin-bottom: 20px;
    }

    .profile-box {
        width: 90%;
        margin-bottom: 50px;
    }

    .client-profile {
        margin-top: 100px;
    }

    .profile-cover {
        padding: 30px 5px 0px 7px;
        margin-bottom: 20px;
    }

    .profile-cover img {
        max-width: 100%;
        width: 15%;
        height: 20px;
    }

    .profile-cover h5 {
        font-size: 7px;
        margin-left: 5px;
        margin-top: 0px;
    }

    .response {
        padding-left: 10px;
        padding-bottom: 40px;
    }

    .decline-btn, .accept-btn {
        font-size: 10px;
        padding: 5px 15px;
        border-radius: 5px;
    }

    .accept-btn {
        margin-left: 10px;
    }

    .influencer-details {
        width: 87%;
    }

    .filter-buttons {
        margin-top: 90px;
        margin-bottom: 10px;
    }

    .filter-icon img {
        position: relative;
        width: 45%;
        left: 30px;
    }

    .influencer-details h2{
        font-size: 25px;
        line-height: 1.2;
        margin-top: -10px;
    }

    .influencer-details p {
        font-size: 8px;
        line-height: 1.4;
        margin-top: -10px;
    }

    .container-4 header {
        font-size: 35px;
        margin-left: 30px;
        padding: 45px 0px;
    }

    .services {
        width: 100%;
        padding-left: 50px;
    }

    .box1 {
        width: 45%;
    }

    .check label{
        font-size: 14px;
        padding-left: 5px;
    }

    .check p {
        padding-left: 23px;
        padding-top: 4px;
        padding-bottom: 30px;
        font-size: 7px;
    }

    .box2 {
        width: 55%;
    }

    .box2 img {
        margin-top: -40px;
        width: 100%;
        margin-left: -25px;
    }

    .ahead {
        width: 90%;
        margin-top: -86px;
        height: 200px;
        margin-bottom: 35px;
        border-radius: 50px;
    }

    .hand-image {
        width: 30%;
        position: relative;
        top: -12px;
        left: 115px;
    }

    .ahead-details {
        width: 60%;
        margin-left: 125px;
    }

    .ahead-text h1 {
        font-size: 22px;
        line-height: 1.1;
        margin-bottom: 10px;
        margin-top: -10px;
    }

    .ahead-text p {
        font-size: 9px;
        margin-bottom: 15px;
    }

    .ahead-store {
        width: 60%;
    }

    .ahead-store img {
        width: 60%;
    }

    .ahead-store .apple {
        margin-left: 20px;
    }

    .footer {
        width: 100%;
        height: 380px;
    }

    .socials {
        position: relative;
        display: block;
        align-self: center;
        justify-content: center;
        width: 15%;  
        left: 8px;     
    }

    .socials .footer-logo {
        max-width: 100%;
        margin-bottom: 10px;
    }

    .socials-img {
        position: relative;
        display: inline-flex;
    }

    .socials-img div:nth-child(1) {
        width: 100%;        
    }

    .socials-img div:nth-child(2) {
        width: 100%;
    }

    .socials-img div:nth-child(3) {
        width: 100%;
    }

    .footer-connect {
        position: relative;
        width: 85%;
        margin-top: 40px;
        left: -15px;
    }

    .footer-header h5 {
        font-size: 12px;
        margin-bottom: 10px;
    }

    .footer-header input[type="email"] {
        width: 83%;
        height: 30px;
        padding-left: 5px;
    }

    .footer-header input[type="submit"] {
        height: 30px;
        font-size: 10px;
        width: 17%;        
    }

    .connect h4 {
        font-size: 12px;
        margin-bottom: 10px;
    }

    .connect h6 {
        font-size: 10px;
        line-height: 3.0;
    }

    .connect .help {
        margin-top: -33px;
    }

    .connect .download {
        margin-top: -66px;
    }

    .connect .resources {
        margin-top: -66px;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) { 
    section {
        width: 100%;
        height: auto;
        display: block;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    .theme p{
        font-size: 16px;
        line-height: 1.5;
        margin-top: -15px;
    }

    .store img{
        max-width: 100%;
        width: 50%;
        position: relative;
        display: inline-flex;
        align-items: center;
    }

    .store .apple-store {
        margin-left: 50px;
    }

    .phone-image {
        position: relative;
        width: 70%;
        margin: auto;
        margin-top: 30px;
        margin-left: 300px;
        margin-bottom: 0px;
        align-items: center;
        justify-content: center;
    }

    .phone-image img {
        position: relative;
        width: 50%;
        display: inline-flex;        
    }

    .phone-image .first {
    
    }

    .phone-image .second {
        
    }

    .phone-image .third {

    }

    .container-2 .first-box {
        background-size: 17%, 33%;
    }

    .container-2 .first-box p {
        padding-bottom: 0px;
    }

    .second-box {
        position: relative;
        width: 100%;
        display: inline-flex;
    }

    .fans-connect {
        display: block;
        max-width: 100%;
        width: 60%;
        height: auto;
        line-height: 1.0;
    }

    .fans-connect h2 {
        font-size: 38px;
        text-align: justify;
        line-height: 1.2;
    }

    .fans-connect p {
        text-align: justify;
        justify-content: stretch;
        font-size: 14px;
        margin-bottom: -30px;
        line-height: 1.3;
    }

    .fans-image {
        display: block;
        width: 40%;
    }

    .fans-image img {
        max-width: 100%;
        width: 80%;
        height: auto;
        margin-left: 10px;
        margin-top: 20px;
    }

    .fan-reply {
        display: block;
        width: 50%;
        padding-top: 100px;
        padding-left: 40px;
        padding-bottom: 70px;
        padding-right: 12px;
    }

    .fan-header {
        display: flex;
        justify-content: space-between;
    }

    .fan-header .chat-icon {
        width: 50%;
        height: auto;
    }

    .chat-icon img {
        width: 25%;
        margin-left: 70px;
        margin-top: -5px;
    }

    .fan-reply h1 {
        font-size: 47px;
        font-weight: 500;
        margin-top: -2px;
    }

    .fan-reply p {
        text-align: justify;
        font-size: 14px;
        line-height: 1.4;
    }

    .fan-chatroom {
        display: block;
        width: 50%;
        padding: 0 50px;
    }

    .fan-chatroom div:nth-child(2) {
        float: right;
        max-width: 100%;
        width: 80%;
        height: auto;
    }

    .fan-chatroom div:nth-child(3) {
        float: left;
        max-width: 100%;
        width: 50%;
    }

    .fan-chatroom div:nth-child(4) {
        max-width: 100%;
        width: 70%;
        height: auto;
    }

    .fan-chatroom div:nth-child(5) {
        margin-bottom: 0px;
        padding-bottom: 0px;
    }

    .influencer-revenue {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .settlement-image {
        width: 45%;
        display: block;
    }

    .settlement-image img {
        max-width: 100%;
        width: 90%;
        margin-top: 15px;
    }

    .influencer-income {
        width: 55%;
        text-align: justify;
    }

    .influencer-btn {
        margin-top: -55px;
    }

    .influencer-income h1 {
        font-size: 50px;
        margin-top: -10px;
    }

    .influencer-income p {
        font-size: 16px;
        line-height: 1.2;
    }

    .client-profile {
        max-width: 100%;
        width: 100%;
    }

    .profile-cover {
        display: flex;
        position: relative;
        width: 100%;
        min-height: auto;
        padding: 40px 0px;
        padding-left: 10px;
    }

    .profile-cover img {
        width: 15%;
        height: auto;
        margin-top: -3px;
    }

    .profile-cover h5 {
        margin-left: 2px;
        font-size: 12px;
        margin-top: 0px;
        padding-right: 5px;
    }

    .response {
        position: relative;
        display: flex;
        padding-left: 25px;
        width: 100%;
    }

    .decline-btn {
        padding: 10px 25px;
    }

    .accept-btn {
        padding: 10px 25px;
        margin-left: 15px;
    }

    .influencer-details {
        width: 79%;
        height: auto;
        display: block;
    }

    .filter-buttons {
        margin-top: 150px;
    }

    .filter-icon img {
        width: 70%;
    }

    .filter-buttons .influencer-btn {
        margin-top: -0px;
    }

    .influencer-details h2 {
        font-size: 40px;
        margin-top: -20px;
    }

    .influencer-details p {
        line-height: 1.3;
        font-size: 13px;
        text-align: justify;
    }

    .container-4 header {
        font-size: 45px;
        margin-left: 70px;
        padding-bottom: 50px;
    }

    .services {
        display: flex;
        width: 95%;
        margin: auto;
        justify-content: space-between;
        padding-left: 80px;
    }

    .box1 {
        width: 40%;
        display: block;
    }

    .check label {
        font-size: 20px;
        padding-left: 7px;
    }

    .check p {
        padding-left: 25px;
        font-size: 12px;
        padding-bottom: 35px;
    }

    .box2 {
        width: 55%;
        display: block;
    }

    .box2 img {
        width: 100%;
        margin-top: -60px;
        margin-left: -60px;
    }

    .ahead {
        width: 80%;
        margin-top: -150px;
        margin-left: 110px;
        height: 317px;
    }

    .hand-image {
        width: 30%;
        margin-left: 20px;
    }

    .ahead-details {
        width: 50%;
        margin-left: -10px;
    }

    .ahead-text h1 {
        font-size: 40px;
    }

    .ahead-text p {
        font-size: 12px;
    }

    .ahead-store {
        display: flex;
        width: 80%;
    }

    .ahead-store img {
        width: 50%;
    }

    .socials {
        display: block;
        width: 25%;
        margin-top: 25%;
    }

    .socials .footer-logo {
        margin-left: 10px;
    }

    .socials-img {
        max-width: 100%;
        width: 80%;
        padding-left: 10px;
    }

    .socials-img div:nth-child(1) {
        padding-right: 15px;
    }

    .socials-img div:nth-child(2) {
        padding-right: 15px;
    }

    .footer-connect {
        width: 75%;
        margin-top: 40px;
    }

    .footer-header h5 {
        font-size: 17px;
    }
} */

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}